/* Font face */
@font-face {
  font-family: 'Angry Bird';
  src: local("Angry Bird"), url("fonts/angrybirds-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: local("Fonttello"), url("fonts/fontello.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Variables */
/* line 5, sass/style.scss */
* {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

/* line 10, sass/style.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 14, sass/style.scss */
body {
  font-size: 16px;
  background: #EDFFFF;
  font-family: "Angry Bird", Arial, san-serif;
  letter-spacing: 1px;
}

/* line 21, sass/style.scss */
ul {
  list-style: none;
}

/* line 25, sass/style.scss */
button {
  border: none;
  color: white;
  padding: 10px;
  margin: 0 auto;
  border: 2px solid white;
  font-size: 1.5em;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 2px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiNmZmU0NzEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGI1MDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(25%, #ffe471), color-stop(100%, #fdb500));
  background-image: -moz-linear-gradient(top, #ffe471 25%, #fdb500 100%);
  background-image: -webkit-linear-gradient(top, #ffe471 25%, #fdb500 100%);
  background-image: linear-gradient(to bottom, #ffe471 25%, #fdb500 100%);
  -moz-box-shadow: #ffd55b -10px -39px 0px -14px inset, rgba(255, 228, 113, 0.3) 0 0 2px 2px;
  -webkit-box-shadow: #ffd55b -10px -39px 0px -14px inset, rgba(255, 228, 113, 0.3) 0 0 2px 2px;
  box-shadow: #ffd55b -10px -39px 0px -14px inset, rgba(255, 228, 113, 0.3) 0 0 2px 2px;
}
/* line 35, sass/style.scss */
button:active, button:focus {
  outline: none;
}
/* line 38, sass/style.scss */
button:hover {
  opacity: 0.8;
}
/* line 41, sass/style.scss */
button:active {
  color: rgba(0, 0, 0, 0.5);
  -moz-box-shadow: #ffd55b -10px -39px 0px -14px inset, rgba(255, 228, 113, 0.3) 0 0 2px 10px;
  -webkit-box-shadow: #ffd55b -10px -39px 0px -14px inset, rgba(255, 228, 113, 0.3) 0 0 2px 10px;
  box-shadow: #ffd55b -10px -39px 0px -14px inset, rgba(255, 228, 113, 0.3) 0 0 2px 10px;
}

/* Checkboxes */
/* line 47, sass/style.scss */
input[type="checkbox"] {
  height: 25px;
  width: 25px;
}
/* line 50, sass/style.scss */
input[type="checkbox"]:before, input[type="checkbox"]:after {
  position: relative;
  display: block;
  content: "";
  width: 25px;
  height: 25px;
}
/* line 57, sass/style.scss */
input[type="checkbox"]:before {
  background: #FFF;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px 0px inset, rgba(255, 255, 255, 0.8) 0px 1px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px 0px inset, rgba(255, 255, 255, 0.8) 0px 1px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px 0px inset, rgba(255, 255, 255, 0.8) 0px 1px 0px 0px;
}
/* line 62, sass/style.scss */
input[type="checkbox"]:after {
  top: -25px;
  text-align: center;
}
/* line 66, sass/style.scss */
input[type="checkbox"]:checked:after {
  content: "\2713";
  font-size: 1.5em;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
}

/* line 72, sass/style.scss */
footer {
  width: 100%;
  text-align: center;
  background: #222;
  color: #bbb;
  padding: 20px;
}

/* Clearfix */
/* line 81, sass/style.scss */
.clearFix:after {
  content: "";
  display: table;
  clear: both;
}

/* General styling */
/* line 88, sass/style.scss */
.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

/* line 94, sass/style.scss */
.fullscreen {
  height: 550px;
  position: relative;
}

/* line 99, sass/style.scss */
.spreadButton {
  width: inherit;
  margin: 3px 0;
}
@media screen and (min-width: 1200px) {
  /* line 99, sass/style.scss */
  .spreadButton {
    width: 100%;
    padding: 20px;
  }
}

/* line 109, sass/style.scss */
.shortButton {
  width: 100%;
}

/* CSS for intro page */
/* line 115, sass/style.scss */
.introBg {
  background: url("../img/intro-bg.jpg") no-repeat center;
  height: 80%;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 115, sass/style.scss */
  .introBg {
    background-size: 120%;
    position: relative;
    left: 2%;
  }
}

/* line 127, sass/style.scss */
.introButton {
  bottom: 20px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 127, sass/style.scss */
  .introButton {
    position: absolute;
  }
}
@media screen and (min-width: 900px) {
  /* line 127, sass/style.scss */
  .introButton {
    display: flex;
    bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 127, sass/style.scss */
  .introButton {
    padding: 0 20%;
  }
}

/* CSS for settings page */
/* line 148, sass/style.scss */
#userCustomization {
  padding: 20px;
  background: url("../img/settings-bg.jpg") center;
  background-size: cover;
}
@media screen and (min-width: 900px) {
  /* line 148, sass/style.scss */
  #userCustomization {
    padding: 20px 20%;
  }
}

/* line 156, sass/style.scss */
.userSettings {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  height: 90%;
  padding: 20px;
  position: relative;
}

/* line 163, sass/style.scss */
.playerName {
  margin: 20px 0;
}
/* line 165, sass/style.scss */
.playerName label {
  margin: 0 5px 5px 0;
  display: block;
}
/* line 169, sass/style.scss */
.playerName input {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  border: none;
  display: block;
}
/* line 175, sass/style.scss */
.playerName input:focus, .playerName input:active {
  outline: none;
}

/* line 180, sass/style.scss */
.inputDiv label {
  margin: 0 20px 20px 0;
  width: 40%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
}

/* line 188, sass/style.scss */
.inputDiv input {
  cursor: pointer;
}
/* line 190, sass/style.scss */
.inputDiv input[type="range"] {
  width: 100%;
}

/* line 195, sass/style.scss */
.settingsButton {
  top: 100px;
  display: flex;
  position: relative;
}

/* CSS for Game Area */
/* line 204, sass/style.scss */
.gameArea {
  background: url("../img/gamedeck-bg.jpg") repeat-y;
  min-height: inherit;
  position: relative;
  height: 100%;
}
/* line 210, sass/style.scss */
.gameArea header {
  position: relative;
  height: 170px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url('../img/wooden-board.png');
  background: -moz-radial-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.2)), url('../img/wooden-board.png');
  background: -webkit-radial-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.2)), url('../img/wooden-board.png');
  background: radial-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.2)), url('../img/wooden-board.png');
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 0 20px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 0 20px 5px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 20px 5px;
}

/* line 217, sass/style.scss */
.headerDiv {
  background: rgba(255, 255, 255, 0.7);
  border-top: dashed grey;
  height: 50px;
}

/* line 222, sass/style.scss */
.headerButtons {
  width: 58%;
  display: inline-block;
  text-align: right;
  margin-top: 5px;
}

/* line 228, sass/style.scss */
.stopwatch {
  font-size: 1.5em;
  padding-top: 5px;
  width: 40%;
  text-align: center;
  display: inline-block;
}

/* line 236, sass/style.scss */
.playerScore {
  height: 120px;
  width: 100%;
}
/* line 239, sass/style.scss */
.playerScore article {
  width: 30%;
  float: left;
  padding: 10px 0;
}
@media screen and (min-width: 900px) {
  /* line 239, sass/style.scss */
  .playerScore article {
    padding: 3% 0;
  }
}
/* line 248, sass/style.scss */
.playerScore em {
  display: block;
  font-size: 1.5em;
}
/* line 252, sass/style.scss */
.playerScore em, .playerScore span {
  text-align: center;
}
/* line 255, sass/style.scss */
.playerScore span {
  font-size: 3em;
  display: block;
}
@media screen and (min-width: 900px) {
  /* line 236, sass/style.scss */
  .playerScore {
    height: 150px;
  }
}

/* line 264, sass/style.scss */
.empire {
  background: url("../img/angry-bird-empire.png") no-repeat center, rgba(255, 255, 255, 0.7);
  width: 36%;
  height: 120px;
  float: left;
  background-size: 68.75%;
  border: none;
  position: relative;
}
@media screen and (min-width: 900px) {
  /* line 264, sass/style.scss */
  .empire {
    height: 150px;
    background-size: 30%;
    margin-right: 3%;
  }
}
@media screen and (min-width: 1200px) {
  /* line 264, sass/style.scss */
  .empire {
    background-size: 30% 95%;
  }
}
/* line 283, sass/style.scss */
.empire:before, .empire:after {
  content: "";
  position: absolute;
  width: 4%;
  height: 120px;
  background: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 900px) {
  /* line 283, sass/style.scss */
  .empire:before, .empire:after {
    height: 150px;
  }
}
/* line 293, sass/style.scss */
.empire:before {
  border-right: dashed grey;
  left: 2%;
}
/* line 297, sass/style.scss */
.empire:after {
  border-left: dashed grey;
  right: 2%;
}

/* CSS for icon set */
/* line 304, sass/style.scss */
i {
  font-family: 'fontello';
  font-size: 1.5em;
  margin: 0 5px;
  border-radius: 1em;
  font-style: normal;
  display: inline-block;
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiNmZmU0NzEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGI1MDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(25%, #ffe471), color-stop(100%, #fdb500));
  background-image: -moz-linear-gradient(top, #ffe471 25%, #fdb500 100%);
  background-image: -webkit-linear-gradient(top, #ffe471 25%, #fdb500 100%);
  background-image: linear-gradient(to bottom, #ffe471 25%, #fdb500 100%);
  -moz-box-shadow: #ffd55b -10px -39px 0px -14px inset, rgba(255, 228, 113, 0.3) 0 0 2px 2px;
  -webkit-box-shadow: #ffd55b -10px -39px 0px -14px inset, rgba(255, 228, 113, 0.3) 0 0 2px 2px;
  box-shadow: #ffd55b -10px -39px 0px -14px inset, rgba(255, 228, 113, 0.3) 0 0 2px 2px;
}
/* line 317, sass/style.scss */
i:hover {
  top: 3px;
  position: relative;
}
/* line 321, sass/style.scss */
i:active {
  top: 3px;
  position: relative;
  -moz-box-shadow: #ffd55b -10px -39px 0px -14px inset, rgba(255, 228, 113, 0.3) 0 0 2px 5px;
  -webkit-box-shadow: #ffd55b -10px -39px 0px -14px inset, rgba(255, 228, 113, 0.3) 0 0 2px 5px;
  box-shadow: #ffd55b -10px -39px 0px -14px inset, rgba(255, 228, 113, 0.3) 0 0 2px 5px;
}

/* line 327, sass/style.scss */
.icon-cw:before {
  content: '\e801';
}

/* line 330, sass/style.scss */
.icon-pause:before {
  content: '\e802';
}

/* CSS for card Area */
/* line 335, sass/style.scss */
.cardArea {
  margin: 50px 0;
}

/* CSS for cards */
/* line 340, sass/style.scss */
.card {
  cursor: pointer;
  border: 1px dashed #aaa;
  width: 21%;
  height: 2.5em;
  text-align: center;
  font-size: 2.5em;
  line-height: 2.5em;
  padding: 10px;
  display: inline-block;
  margin: 2%;
  background: white;
  border-radius: 10px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
@media screen and (min-width: 900px) {
  /* line 340, sass/style.scss */
  .card {
    height: 130px;
    font-size: 3.5em;
    line-height: 2.3em;
  }
}

/* line 363, sass/style.scss */
.card.flipped {
  -webkit-transform: rotatex(-180deg);
}

/* line 367, sass/style.scss */
.face {
  width: 100%;
  height: 100%;
  position: absolute;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}

/* line 375, sass/style.scss */
.back, .front {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  color: black;
  border: 1px dashed #aaa;
  border-radius: 10px;
}

/* line 385, sass/style.scss */
.front {
  z-index: 1;
  background: url("../img/card-bg.jpg") no-repeat center;
  background-size: 100%;
}
@media screen and (min-width: 900px) {
  /* line 385, sass/style.scss */
  .front {
    background-size: 65% 85%;
  }
}

/* line 394, sass/style.scss */
.back {
  -moz-transform: rotatex(-180deg);
  -ms-transform: rotatex(-180deg);
  -webkit-transform: rotatex(-180deg);
  transform: rotatex(-180deg);
}

/* CSS for winners message */
/* line 399, sass/style.scss */
.winner {
  width: 100%;
  text-align: center;
  font-size: 2em;
  padding: 20px 0;
  min-height: 400px;
}
/* line 405, sass/style.scss */
.winner .message {
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px;
  position: absolute;
  top: 50%;
  width: 100%;
}
/* line 411, sass/style.scss */
.winner em, .winner span {
  display: block;
}
/* line 414, sass/style.scss */
.winner em {
  color: #980C46;
  font-size: 1.3em;
}
