/* line 1, sass/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 6, sass/style.scss */
body {
  width: 900px;
  max-height: 100%;
  margin: 0 auto;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

/* line 14, sass/style.scss */
header {
  width: 100%;
  background: #42edca;
  padding: 10px 0;
  text-align: center;
}

/* line 20, sass/style.scss */
main {
  margin: 10px;
}

/* line 24, sass/style.scss */
.row {
  height: 150px;
}

/* line 27, sass/style.scss */
.card {
  cursor: pointer;
  border: 1px dashed #aaa;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 3em;
  line-height: 2.5em;
  padding: 10px;
  display: inline-block;
  margin: 2%;
  opacity: 1;
}

/* line 41, sass/style.scss */
.hide {
  opacity: 0;
}
