@import "compass/css3/";
/* CSS for intro page */
#intro {
  background: url('../img/intro-bg.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 500px;
  position: relative;
  text-align:center;
  padding-top: 350px;
}

.winner {
  background: rgba(255,255,255, 0.5);
  display:block;
  text-align: center;
  padding: 16% 0;
}
.message{
  font-size: 3em;
  padding-bottom: 20px;
}