@import "compass/css3/";
/* CSS for intro page */
#intro {
  background: url('../img/intro-bg.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 500px;
  position: relative;
  text-align:center;
  padding-top: 350px;
}


// i.icon-play {
//   position: absolute;
//   top: 40%;
//   left: 45%;
//   font-size: 5em;
//   font-style: normal;
//   border: 3px solid white;
//   border-radius: 2.5em;
//   text-align: center;
//   color: white;
//   cursor:pointer;
//   @include background-image(linear-gradient(to bottom, #ffe471 25%, #fdb500 100%));
//   @include box-shadow(#ffd55b -10px -39px 0px -14px inset, rgba(#ffe471, 0.3) 0 0 5px 15px);
//   &:active{
//     top: 41%;
//     @include box-shadow(#ffd55b -10px -39px 0px -14px inset, rgba(#ffe471, 0.3) 0 0 5px 15px, rgba(#ffe471, 0.3) 0 0 2px 30px, rgba(#000, 0.2) 0 0 10px 5px);
//   }
// }
// i.icon-play:before {
//   content: '\e800';
//   padding: 0 20px;
// }
