@import "compass/css3/";
/* CSS for intro page */
#intro {
  background: url('../img/intro-bg.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 500px;
  position: relative;
  text-align:center;
  padding-top: 350px;
}

.winner {
  background: rgba(255,255,255, 0.5);
  display:none;
  text-align: center;
  padding: 16% 0;
}
.message{
  font-size: 3em;
  padding-bottom: 20px;
}



input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  
  &::-webkit-slider-thumb{
    -webkit-appearance: none;
  }
  &:focus {
    outline: none;
  }
  &::ms-track{
    width: 100%;
    cursor: pointer;
    background: transparent; /* Hides the slider so custom styles can be added */
    border-color: transparent;
    color: transparent;
  }
}



